extends layout

block content
    h1= "관리자 페이지"
    p
    p

    form( method="post" )
        table
            tr
                th(width = "10%")= "로고"
                th(width="80%")= "상품 명"
                th(width="10%")= "check"
            tbody
            for product in productlist
                tr
                    td
                        img(src=product.img_logo width=80 height=80)
                    td= product.product_name
                    td
                        input(type='checkbox', name= 'productID', value= product.product_id)
        p
        div
            input(type='text' name='deletecheck' placeholder= "\"삭제하겠습니다\" 입력")
            input(type='submit' id='mybutton' value='해당 상품 !!!완전!!! 삭제' onclick="javascript: form.action= '" + temp + "/admin/deleteProduct'")
            input(type='submit' id='mybutton' value='해당 상품 비활성화' onclick="javascript: form.action= '" + temp + "/admin/deleteProduct/disable'")
            input(type='submit' id='mybutton' value='상품 추가' onclick="javascript: form.action= '" + temp + "/admin/addProductPage'")
