extends layout

block content
  h1= title
  //p Welcome to #{title}

  p
  p 로그인
  p
  form(action= temp + "/user/login", method="post")
    div
      input(type='text' name='email' placeholder= temp+"/user/login")
    div
      input(type='password' name='password' placeholder='password')
    div
      input(type='submit' value='Login')

  p
  p 회원가입
  p
  form(action=temp + "/user/signup", method="post")
    div
      input(type='text' name='email' placeholder='email')
    div
      input(type='text' name='name' placeholder='name')
    div
      input(type='password' name='password' placeholder='password')
    div
      input(type='submit' value='signup')

  p
  p pw 분실시 임시pw 발송
  p
  form(action=temp + "/user/findpw", method="post")
    div
      input(type='text' name='email' placeholder='email')
    div
      input(type='submit' value='change PW')

  p
  p 관리자 페이지 이동 (미완)
  p
  form(action=temp + "/admin", method="get")
    div
      input(type='submit' value='관리자 페이지로~')

