extends layout

block content
  h1= title
  //p Welcome to #{title}

  p
  p 로그인
  p
  form(action= temp + "/user/login", method="post")
    div
      input(type='text' name='email' placeholder= temp+"/user/login")
    div
      input(type='password' name='password' placeholder='password')
    div
      input(type='submit' value='Login')

  p
  p 회원가입
  p
  form(action=temp + "/user/signup", method="post")
    div
      input(type='text' name='email' placeholder='email')
    div
      input(type='text' name='name' placeholder='name')
    div
      input(type='password' name='password' placeholder='password')
    div
      input(type='submit' value='signup')

  p
  p 상품 구독
  p
  form(action=temp + "/subscribe/pushsetting", method="post")
    div
      input(type='text' name='jwt' placeholder='JWT')
    div
      input(type='text' name='p_ID' placeholder='productID')
    div
      input(type='text' name='start_time' placeholder='starttime')
    div
      input(type='text' name='end_time' placeholder='endtime')
    div
      input(type='text' name='pushType' placeholder='pushType 0 or 1')
    div
      input(type='text' name='subscribe' placeholder='0구독취소 or 1구독')
    div
      input(type='submit' value='subscribe or not')

  p
  p pw 분실시 임시pw 발송
  p
  form(action=temp + "/user/findpw", method="post")
    div
      input(type='text' name='email' placeholder='email')
    div
      input(type='submit' value='change PW')

  p
  p 다이어리 링크 배포 실험
  p
  form(action=temp + "/makelink", method="post")
    div
      input(type='text' name='d_ID' placeholder='다이어리ID')
    div
      input(type='text' name='pdfType' placeholder='0: link, 1: pdf')
    div
      input(type='text' name='jwt' placeholder='JWT')
    div
      input(type='submit' value='/makelink')

  p
  p 관리자 페이지 이동 (dd미완)
  p
  form(action=temp + "/admin", method="get")
    div
      input(type='submit' value='관리자 페이지로~')

  p
  p 상품 긁어오기
  p
  form(action=temp + "/product/lookup", method="post")
    div
      input(type='text' name='jwt' placeholder='JWT')
    div
      input(type='submit' value='상품 긁어오기')

  p
  p 푸시하기
  p
  form(action=temp + "/pushalarm/message", method="post")
    div
      input(type='text' name='message' placeholder='메시지')
    div
      input(type='submit' value='푸시')